@model ProductViewModel
@{
	ViewData["Title"] = "Yeni Məhsul";
}

<h1 class="mb-5">Yeni məhsul</h1>

<form method="post">
	<div class="mb-3 row">
		<label asp-for="Name" class="col-sm-2 col-form-label">Məhsul adı</label>
		<div class="col-sm-10">
			<input type="text" required asp-for="Name" class="form-control">
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="Description" class="col-sm-2 col-form-label">Açıqlama</label>
		<div class="col-sm-10">
			<input type="text" asp-for="Description" required class="form-control">
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="Price" class="col-sm-2 col-form-label">Qiymət</label>
		<div class="col-sm-10">
			<input type="text" min="0" asp-for="Price" required class="form-control">
			<span asp-validation-for="Price"></span>
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="ExDate" class="col-sm-2 col-form-label">Daxilolma tarixi</label>
		<div class="col-sm-10">
			<input asp-for="ExDate" required class="form-control">
		</div>
	</div>
	<div class="mb-3 row">
		<label asp-for="Category" class="col-sm-2 col-form-label">Kateqoriya</label>
		<div class="col-sm-10">
			<select asp-for="Category" asp-items="@ViewBag.Categories" class="form-control">
				<option selected disabled>Kateqoriya seçin</option>
			</select>
		</div>
	</div>
	<div class="mb-3 row">
		<label for="inputSu" class="col-sm-2 col-form-label"></label>
		<div class="col-sm-10">
			<input type="submit" class="btn btn-primary" value="Əlavə et" id="inputSu" />
		</div>
	</div>
</form>

